-----BEGIN CERTIFICATE-----
MIIDazCCAlOgAwIBAgIUJozg1Uo7VwcyCwGMKxIbQJQmqEIwDQYJKoZIhvcNAQEL
BQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoM
GEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yMzAzMjIwMDAwMDBaFw0yNDAz
MjEyMzU5NTlaMEUxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEw
HwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQC7VJTUt9Us8cKjMzEfXrn3npN9xNspWvtFw9SrSyHz
HctI6Cffd3dbGmQk2/JwY1+7WXYp4Q9md8Yk9X2m5NfU6tAKVqWYdhHGhbjY2Lyo
3zX/v8wv0xT6BZBkbgHFTssKX+Tf
